{% extends 'base.html' %}

{% block content %}
<div>
    <h1>{{ movie.title }}</h1>
    <img
            src="{{ movie.image.url }}"
            height="500"
            width="300">
    <article>
        <h2><u>Description</u></h2>
        <article>{{ movie.description }}</article>
        <h2><u>Cast</u></h2>
        <article>{{ movie.cast }}</article>
    </article>
    <br>
    <article>
        <h3><u>Links</u></h3>
        {% if links %}
            <h4>
                Download:
                {% for link in links %}
                    {% if link.type_of_link == 'D' %}
                        <a href="{{ link.link }}">here</a>
                    {% endif %}
                {% endfor %}
            </h4>
            <h4>
                Watch:
                {% for link in links %}
                    {% if link.type_of_link == 'W' %}
                        <a href="{{ link.link }}">here</a>
                    {% endif %}
                {% endfor %}
            </h4>
        {% else %}
            - None
        {% endif %}
    </article>
    <br>
    <h4>Category: {{ movie.category }}</h4>
    <h4>Language: {{ movie.language }}</h4>
    <h4>Released: {{ movie.year_of_production }}</h4>
    <h4>Views count: {{ movie.view_count }}</h4>
    <h4>Status: {{ movie.status }}</h4>
</div>
{% endblock %}
